* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.limite {
  min-width: 1080px;
  max-width: 1080px;
}

/* TEXTURA */

/* HEADER */
header {
  min-height: 550px;
  max-height: 550px;
  background-image: url(/img/header-fundo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

#header {
  width: 100%;
  height: 550px;
  background: rgba(45, 49, 66, 0.857);
}

#Navbar-top {}

#Navbar {
  min-width: 1080px;
  max-width: 1080px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  min-height: auto;
  max-height: auto;
  height: 80px;
  margin-bottom: 20px;
}

/* LOGO */
#logo {
  margin-left: 0;
}

#logo img {
  width: 200px;
  filter: invert(100);
  margin-top: 5px;
}

/* MENU */
#menu-right {
  margin-right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#menu-right li {
  display: block;
  padding: 10px;
}

#menu-right li>a {
  color: white;
  text-decoration: none;
}

#menu-right span:nth-child(1) {
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

#menu-right span:nth-child(1):hover {
  color: white;
  background-color: #2485d2;
}

/* =============================== */
/* =============================== */
/* HEADER PROGRAMAS SUPORTE REMOTO */
/* =============================== */
/* =============================== */

#HeaderSuporte {
  width: auto;
  height: auto;
}

#HeaderSuporteContent {
  min-height: 450px;
  max-height: 450px;
  min-width: 1080px;
  max-width: 1080px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#headerSLeft {
  margin-left: 0;
  position: absolute;
  z-index: 3;
  left: 0;
}

#headerSLeft>li {
  width: 250px;
  height: 60px;
  border-radius: 5px;
  margin: 10px 0;
  background: linear-gradient(150deg,#386FA4,#84D2F6);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

#headerSLeft li>h2 {
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#headerSLeft li img {
  width: 40px;
  position: absolute;
  right: 10px;
  border-radius: 5px;
  border: 1px solid white;
}

/* BOX */
.HeaderSuporteProgramasBox {
  position: absolute;
  left: 280px;
  background: linear-gradient(150deg,#84D2F6,#386FA4);
  width: 250px;
  height: auto;
  padding: 0 10px;
  border-radius: 10px;
  /* display: none; */
}

.HeaderSuporteProgramasBox::after {
  position: absolute;
  content: '';
  border-top: 20px solid rgb(113, 183, 216);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  transform: rotate(90deg);
  left: -25px;
  top: 65px;
}

.HeaderSuporteProgramasBox li {
  width: 230px;
  height: 60px;
  background-color: #2D3142;
  margin: 10px 0;
  border-radius: 4px;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.HeaderSuporteProgramasBox li:hover{
  box-shadow: 0 0 20px -8px inset;
}
.HeaderSuporteProgramasBox li a {
  color: #fff;
  text-decoration: none;
}

/* TEAMVIEWER */
#HeaderSuporte-TeamViewer {
  display: none;
  top: -35px;

}

/* ANYDESK */
#HeaderSuporte-AnyDesk {
  display: none;
  top: 35px;

}

/* AEROADMIN */
#HeaderSuporte-AeroAdmin {
  display: none;
  top: 105px;
}

/* FECHA O MENU DOS PROGRAMAS */
#fecharMenu {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 470px;
  top: 80px;
  right: 0;
}


#headerSRight {
  margin-right: 0;
  position: absolute;
  right: 0;
  top: 20px;
}

#headerSRight>img {
  width: 470px;
}

/* =============================== */
/* =============================== */
/* BARRA INFORMATIVA */
/* =============================== */
/* =============================== */
#barraInformativa {
  width: 100%;
  height: 80px;
  background-color: #2D3142;
}
/* CONTENT DESTAQUE */

#destaque-box{
  min-width: 1080px;
  max-width: 1080px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
}
/* CARD BOX */
.box-destaque{
  min-width: 262.5px;
  max-width: 262.5px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  background: linear-gradient(180deg, #386FA4, #91E5F6);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
}
.box-destaque span{
  display: grid;
  justify-content: center;
  align-items: center;
}
/* IMG */
.destaque-img{
  min-height: 100px;
  max-height: 100px;
}
/* TITULO */
.destaque-titulo{
  min-height: 50px;
  max-height: 50px;
  margin-bottom: 10px;
}
.destaque-titulo h3{
  color: #2D3142;
  font-size: 14pt;
  text-transform: uppercase;
}
.destaque-img img{
  width: 80px;
}
/* BTN SAIBA MAIS */
.destaque-saiba-mais a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 18px;
  background-color: #2D3142;
  border-radius: 3px;
  display: block;
}